@page
@model EffectiveEFCore.Pages.Posts.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

Posts

@if (Model.Posts != default)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Body</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Posts)
            {
                <tr>
                    <td> @item.Id</td>
                    <td> @item.Body</td>
                </tr>
            }

        </tbody>
    </table>
}

